*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
.DS_Store
emacs-init.el
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
/.mc-lists.el
/url/
/ac-comphist.dat
tramp
/packages/org-ref.el
/packages/upload_bibtex_citeulike.py
/packages/hindent.el
/packages/f2j-mode.el
/company-statistics-cache.el
