*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
.DS_Store
emacs-init.el
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
/.mc-lists.el
/url/
/ac-comphist.dat
tramp
